.market {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
.arrows {
  display: flex;
  flex-direction: column;
}
.fa-caret-up {
  margin-bottom: -4px;
  font-size: 15px;
}
.fa-caret-down {
  margin-top: -4px;
  font-size: 15px;
}
@media screen and (max-width: 1080px) {
  .market {
    max-width: 700px;
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .market {
    max-width: 350px;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .market {
    width: 90%;
  }
}
