.market {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
.arrows {
  display: flex;
  flex-direction: column;
  transform: translateY(2px);
}
.fa-caret-up {
  margin-bottom: -4px;
  font-size: 15px;
}
.fa-caret-down {
  margin-top: -4px;
  font-size: 15px;
}
.row-data-hover {
  position: absolute;
  width: 100%;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  padding: 8px 12px;
  background-color: black;
  bottom: -60%;
  z-index: 1;
  transform: translateY(100%) scaleY(0);
  transform-origin: top;
  transition: all 0.2s ease;
}
.row-data:hover .row-data-hover {
  transform: translateY(100%) scaleY(1);
}
@media screen and (max-width: 1080px) {
  .market {
    max-width: 700px;
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .market {
    max-width: 350px;
    width: 100%;
  }
  .header-row > .row-data {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .market {
    width: 90%;
  }
}
