.market-header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 90px;
  align-items: center;
}
.market-nav {
  max-width: 1000px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.market-header-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  padding: 0.5rem 1.25rem;
  border-radius: 12px;
  transition: all 0.2s ease;
}
.market-header-link:hover {
  --text-opacity: 1;
}
.link-1 {
  margin-left: auto;
}
.selected-header-btn {
  background-color: #26a9ff;
}
