.footer {
  padding: 2rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-heading {
  font-size: clamp(26px, 5.7vw, 32px);
  text-align: center;
  color: white;
}
.footer-para {
  color: rgb(136, 141, 155);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.footer-about-socials {
  width: fit-content;
  padding: 0;
}
.gitbook {
  width: 40px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .footer {
    margin-top: 5rem;
  }
}
